.App {
  /* position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%,-50%); */
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:2%;
}

canvas.react-pdf__Page__canvas{
  margin-bottom:50px;
}

input[type=file]::file-selector-button{
  background:#f06595;
  border:none;
  border-radius:10px;
  padding:8px 16px;
}
